

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

.primaryNavigation {
    display: flex;
    list-style: none;
    gap: 10px;
    white-space: nowrap;
}